body
{
	background-color:#151728;
	color:#FFFFFF;
}

.total-container
{
	height:100vh;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}

.navBar
{
	display:flex;
	justify-content:space-between;
	font-size:1.5rem;
}

.general-use
{
	word-spacing:2rem;
}

.blue
{
	color:#1A4494;
}

.white
{
	color:white;
	margin:1.2rem 0rem 1.2rem;
}

a
{
	text-decoration:none;
}

.button1
{
	border:0.2rem solid #1A4494;
	border-radius:0.4rem;
	color:white;
	
}

.button2
{
	background-color:#1A4494;
	border-radius:0.4rem;
	border:0.2rem solid #1A4494;
	color:white;
	
}

.rounded-button
{
	border:0.2rem solid #1A4494;
	border-radius:0.8rem;
	color:white;
	width:7rem;
	height:1.4rem;
	text-align:center;
	font-size:1.1rem;
	padding:0.1rem;
	margin:10px 0px 10px;
}


.text-space
{
	width:25rem;
	font-size:3rem;
	
}

.main-content
{
	display:flex;
	margin:5rem;
	justify-content:left;
	align-items: center;
	
}
